<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.inventory.entity.SysRolePermission">
            <id property="id" column="id" />
            <result property="roleId" column="role_id" />
            <result property="permId" column="perm_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,perm_id
    </sql>



    <!-- 根据用户ID查询权限标识列表 -->
    <select id="listUserPermissionsByUserId" resultType="java.lang.String">
        SELECT DISTINCT p.perm_code
        FROM sys_permission p
                 LEFT JOIN sys_role_permission rp ON p.id = rp.perm_id
                 LEFT JOIN sys_user_role ur ON rp.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND p.perm_code IS NOT NULL
          AND p.perm_code != ''
      AND p.status = 1
      AND p.is_deleted = 0
    </select>


    <!--
    * 批量插入角色权限关联
    * 对应方法：batchInsert(List<SysRolePermission> list)
   -->
    <insert id="batchInsert">
        INSERT INTO sys_role_permission (id,role_id, perm_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.roleId}, #{item.permId})
        </foreach>
    </insert>


</mapper>
