<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.modules.system.permission.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.inventory.modules.system.permission.entity.SysRolePermission">
            <id property="id" column="id" />
            <result property="roleId" column="role_id" />
            <result property="permId" column="perm_id" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,perm_id
    </sql>





    <!--
    * 批量插入角色权限关联
    * 对应方法：batchInsert(List<SysRolePermission> list)
   -->
    <insert id="batchInsert">
        INSERT INTO sys_role_permission (id,role_id, perm_id)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},#{item.roleId}, #{item.permId})
        </foreach>
    </insert>


    <!-- 根据角色ID删除相关权限 -->
    <delete id="deleteByRoleId">
        DELETE FROM sys_role_permission WHERE role_id = #{roleId}
    </delete>


    <select id="selectRoleIdsByMenuIds" resultType="java.lang.Long">
        SELECT DISTINCT role_id FROM sys_role_permission WHERE menu_id IN
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>

    <select id="selectRoleIdsByPermId" resultType="java.lang.Long">
        SELECT DISTINCT role_id FROM sys_role_permission WHERE perm_id = #{permId}
    </select>
</mapper>
