<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.modules.invertory.stockin.mapper.InventoryInMapper">

    <resultMap id="BaseResultMap" type="com.inventory.modules.invertory.stockin.entity.InventoryIn">
        <id property="id" column="id"/>
        <result property="receiptNo" column="receipt_no"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="receiptQty" column="receipt_qty"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,receipt_no,goods_id,goods_name,receipt_qty,operator,
        create_time,update_time,remark,sort
    </sql>
</mapper>
